bcrypt==4.1.2
black==26.5.1
click==8.4.2
greenlet==3.5.4
grpcio==1.59.0
grpcio-tools==1.59.0
mypy-protobuf==3.5.0
mypy_extensions==1.1.0
packaging==26.3
pathspec==1.1.1
platformdirs==4.11.0
protobuf==4.25.3
psycopg2-binary==2.9.9
PyJWT==2.8.0
pytokens==0.4.1
setuptools==69.5.1
SQLAlchemy==2.0.23
types-protobuf==7.34.1.20260518
typing_extensions==4.16.0
